{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="border-b border-blue-900 pb-4 flex justify-between">
  <h1 class="text-3xl font-bold">
    {{ object.name }} Activity
  </h1>
  <div>
    <a 
      href="/strava/sync/{{ object.slug}}" 
      class="rounded bg-blue-900 px-2 py-1 text-xs font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-900"
    >
      Sync
    </a>
  </div>
</div>
<div class="flow-root mt-5">
  {% if not activities %}
  {% include 'snippets/alert.html' with message='No activities to display.' %}
  {% else %}
  <ul role="list" class="-mb-8">
    {% for activity in activities %}
    <li>
      <div class="relative pb-8">
        <span aria-hidden="true" class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200"></span>
        <div class="relative flex space-x-3">
          <div>
            <img src="{{ activity.athlete_month_summary.athlete.avatar }}" alt="{{ activity.athlete_month_summary.athlete.name }}" class="size-8 rounded-full bg-gray-300 outline outline-1 -outline-offset-1 outline-black/5" />
          </div>
          <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
            <div>
              <p class="text-sm text-gray-500">
                <span class="font-bold">{{ activity.athlete_month_summary.athlete.name }}</span> ran <span class="font-bold">{{ activity.distance }} km</span> at <span class="font-bold">{{ activity.pace_display }} per km.</span>
              </p>
            </div>
            <div class="whitespace-nowrap text-right text-sm text-gray-500">
              <time datetime="{{ activity.date|date:"Y-m-d" }}">{{ activity.date_display }}</time>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}

{% block content-right %}
<div class="border-b border-blue-900 pb-4 mb-4">
  <h2 class="text-2xl font-bold">
    Leaderboard
  </h2>
</div>
{% if object.slug == 'jan' %}
<img src="{% static 'images/jan.png' %}" />
{% endif %}
{% if not athletes %}
  {% include 'snippets/alert.html' with message='No athletes to display.' %}
{% else %}
{% for athlete in athletes %}
<div class="mt-4 relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm">
  <div class="shrink-0">
    <img src="{{ athlete.athlete.avatar }}" alt="{{ athlete.athlete.name }}" class="size-10 rounded-full bg-gray-300 outline outline-1 -outline-offset-1 outline-black/5" />
  </div>
  <div class="min-w-0 flex-1">
    <span aria-hidden="true" class="absolute inset-0"></span>
    <p class="text-sm font-medium text-gray-900">{{ athlete.athlete.name }}</p>
    <p class="truncate text-sm text-gray-500">{{ athlete.total_distance }}km</p>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
